<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru" ng-app="threadsApp">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">

		a:hover,
		.a-link-emulator:hover {
			color: #0066FF;
		}

		a.thread-link {

		}

		a.thread-link.unread {
			font-weight: bold;
		}

        a.thread-link.notmonitored {
            color: gray;
        }

        a.thread-link.notfound {
            text-decoration: line-through;
        }

        a.thread-link.error {
            color: red;
        }

		div.link-div {
			white-space: nowrap;
			overflow: hidden;              /* "overflow" value must be different from "visible" */
			text-overflow:    ellipsis;
		}

        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }


	</style>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">

    <style>

        .container {
            width: 600px;
            max-width: none !important;
        }

    </style>

	<script src="libs/angular.min.js"></script>
	<script src="app.js"></script>
    <script src="libs/jquery-2.1.1.js"></script>
    <script src="popup.js"></script>

</head>

<body style="width: 600px; padding: 0; margin: 0; overflow: hidden;" ng-controller="threadsListCtrl">

<div class="container">
    <div class="row">
        <div class="col-xs-11">
            <!--<span ng-repeat="thread in threads | toArray | orderBy:'-unread'">-->
                <div class="row" ng-repeat="thread in threads | toArray | orderBy:'-unread' | orderBy:'-is_monitored'">
                    <div class="col-xs-1">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" ng-attr-id="{{ 'dropdownMenu' + thread.num }}" data-toggle="dropdown" aria-expanded="true">
                                <span ng-if="thread.unread > 0">
                                    <p style="font-size:10px; font-weight: bold;">{{thread.unread}}</p>
                                </span>
                                <span ng-if="thread.unread == 0">
                                    <span class="caret"></span>
                                </span>
                            </button>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="{{ 'dropdownMenu' + thread.num }}">

                                <li role="presentation" ng-if="thread.unread > 0">
                                    <a data-ng-click="markThreadAsRead(thread.num)" role="menuitem" tabindex="-1" href="#">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        Отметить прочитанным
                                    </a>
                                </li>

                                <li role="presentation">
                                    <a data-ng-click="stopMonitoring(thread.num)" role="menuitem" tabindex="-1" href="#" ng-if="thread.is_monitored">
                                        <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                                        Не мониторить
                                    </a>
                                    <a data-ng-click="startMonitoring(thread.num)" role="menuitem" tabindex="-1" href="#" ng-if="!thread.is_monitored">
                                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                        Начать мониторить
                                    </a>
                                </li>

                                <li role="presentation">
                                    <a data-ng-click="deleteThread(thread.num)" role="menuitem" tabindex="-1" href="#">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        Удалить
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-11 link-div">
                        <a
                                ng-attr-href="{{'https://2ch.hk/' + thread.board + '/res/' + thread.num + '.html#' + thread.first_unread}}"
                                ng-class="{
                                    'thread-link unread' : thread.unread > 0,
                                    'thread-link' : thread.unread <= 0,
                                    'thread-link notmonitored': !thread.is_monitored,
                                    'thread-link notfound': thread.not_found_errors > 0,
                                    'thread-link error': thread.errors > 0
                                }">
                                <!--ng-class="thread.unread > 0 ? 'thread-link unread' : 'thread-link'"-->
                                <!--ng-style="thread.is_monitored ? '' : 'color: gray'">-->

                            /{{thread.board}}/{{thread.num}} {{thread.title}}
                        </a>
                    </div>
                </div>
            <!--</span>-->
        </div>
        <div class="col-xs-1">
            <div class="row">
                <button class="dropdown-toggle" type="button" data-ng-click="checkAllThreads()">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                </button>
            </div>
            <div class="row" ng-if="state.addable">
                <button class="dropdown-toggle" type="button" data-ng-click="addCurrentThread()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
            <div class="row">
                <button class="dropdown-toggle" type="button">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="libs/underscore.js"></script>
<script type="text/javascript" src="libs/jquery-2.1.1.js"></script>
<script type="text/javascript" src="libs/bootstrap.min.js"></script>
<script type="text/javascript" src="libs/sprintf.js"></script>
<!--<script type="text/javascript" src="old_popup.js"></script>-->
</body>

</html>